.activity {
    background-color: var(--primary-fade-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 300px 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 1.25rem; /* 20px */
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    /* gap: 10px; */
}

.activity img {
    height: 300px;
    width: 300px;
    max-width: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.activity h4 {
    font-size: 1.4em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    word-wrap: break-word;
}