.activity{
    background-color: var(--primary-fade-color);
    border-radius: 10px;
    display: grid;
    grid-template-rows: 150px 1fr;
    align-items: center;
    justify-items: center;
    justify-content: center;
    height: auto;
    min-height: 200px;
    padding: 20px;
    width: 200px;
    max-width: 350px;
    /* gap: 10px; */
}
.activity img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.activity h4{
    font-size: 1.4em;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
}