.activity-container{
    flex: 1;
    display: inline-grid;
    justify-self: center;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(2, 200px);
    justify-content: center;
    align-content: center;
    justify-items: center;
    width: 100%;
    row-gap: 50px;
    /* background-color: pink; */
}