.btn{
    display: inline-flex;
    height: 50px;
    padding: 0px 20px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1em;
    font-family: 'Poppins';
    color: white;
    background-color: var(--primary-color);
    border: none;
    box-shadow: 0px 0px 16px 0px rgba(0, 0,0,0.08);
    transition: all 0.3s;
    cursor: pointer;
}

.btn:hover{
    background-color: var(--primary-dark-color);
}

.btn-icon.mg-5{
    margin-right: 5px;
}
.btn-icon{
    margin-bottom: -1px;
}