.t-countdown{
    background-color: blue;
    display: flex;
    flex-direction: row;
    gap: 5px;
}
.digits-container{
    display: flex;
    background-color: red;
    padding: 10px;
    flex-direction: column;
}
.digits{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    flex: 1;
}
.digit{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: green;
}
.d-label{
    text-align: center;
}