.tree-container{
    /* background-color: blue; */
    display: flex;
    margin: 20px 0px;
    padding: 50px 0px;
}
.col1{
    /* background-color: red; */
    display: flex;
    flex-direction: column;
}
.col2{
    /* background-color: green; */
}
#branch{
    height: 120px;
    background-color: transparent;
}
.branch{
    border: none;
    width: calc(300px - 40px);
    height: 100px;
    padding-left: 40px;
    background-color: transparent;
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}
.branch span{
    font-family: 'Poppins';
    font-size: 2em;
    background-color: var(--primary-dark-color);
    display: inline-flex;
    height: 60px;
    width: 60px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: white;
}
.branch h4{
    font-family: 'Bad script';
    font-size: 2em;
}
.col1 #branch{
    border-right-width: 4px;
    border-right-color: black;
    border-right-style: solid;
}
.col1 .branch{
    border-right-width: 4px;
    border-right-color: black;
    border-right-style: solid;
}
.col2 .branch{
    border-left-width: 0px;
}