#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    gap: 20px;
    width: calc(100% - 80px);
    padding: 20px 40px;
    padding-top: 150px;
    height: 80vh;
    max-height: 600px;
    background-image: radial-gradient(circle at 150px 300px, var(--primary-fade-color), var(--primary-bg-color), var(--primary-bg-color), var(--primary-bg-color));
    background-position: center top;
}
#main h1{
    /* background-color: blue; */
    text-align: left;
    font-size: 4em;
    font-family: 'Bad script';
}
#main h2{
    font-family: 'bad script';
    /* background-color: red; */
}
#main h2 span{
    line-height: 90px;
    padding: 0px;
    font-family: 'poppins';
    font-size: 4em;
    color: var(--primary-color);
    font-weight: bold;
}
#main .t-description{
    font-family: 'poppins';
    max-width: 700px;
    font-size: 1em;
    margin: 20px 0px;
}
.s-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-img-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: var(--primary-hard-color);
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow-x: visible;
    overflow-y: visible;
}
.s-img-container img{
    height: 500px;
}
#second{
    height: calc(100vh + 70px);
    max-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-right: 50px; */
}
#second h1{
    position: relative;
    z-index: 5;
    margin-bottom: 20px;
}
#second .activity-container{
    position: relative;
    z-index: 5;
}

#third{
    /* margin: 80px 0px; */
    display: flex;
    flex-direction: column;
    align-items: center;   
}
#third h5{
    font-family: 'Poppins';
    font-size: 1.4em;
    font-weight: 300;
    /* margin-bottom: 0px;   */
}
#fourth{
    display: flex;
    /* flex-direction: column; */
    /* height: 80vh; */
    max-height: 800px;
    margin: 30px 0px;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.963);
    background-blend-mode: overlay;
    /* padding-bottom: 40px; */
    background-image: url(../images/background.png);
    /* background-image: radial-gradient(circle at 100% 100%, var(--primary-color), var(--primary-bg-color), var(--primary-bg-color), var(--primary-bg-color), var(--primary-bg-color), var(--primary-bg-color)); */
}
#fourth .sideImg{
    width: 600px;
    height: 100%;
}
#fourth .sideImg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#fourth form{
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    flex-direction: center;
    border-radius: 10px;
    width: 550px;
    max-height: 650px;
    margin: auto;
    backdrop-filter: blur(5px);
}
#fourth form h1{
    text-align: left;
    margin-bottom: 20px;
    width: 100%;
}
#fourth form .inv-header{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    flex-direction: column;
    /* background-color: blue; */
}

#fourth form .inv-body{
    width: 100%;
    margin: 15px 0px;
}

#fourth form .inv-body .inv-s-group-container{
    display: flex;
    gap: 15px;
    padding: 10px 0px;
    padding-left: 20px;
}
#fourth form .inv-body .inv-s-group-container .inv-s-group{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    gap: 10px;
}
#fourth form .inv-body textarea{
    border-radius: 5px;
    padding: 20px;
    min-height: 100px;
    border: none;
    font-family: 'Poppins';
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
    width: calc(100% - 50px);
}
#fourth form .inv-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    /* background-color: yellow; */
    padding: 5px;
    width: 100%;
}
#fourth form .inv-group label{
    font-family: 'Poppins';
    padding: 5px 0px;
    padding-top: 0px;
}
#fourth form .inv-group input:not(input[type='radio']){
    height: 40px;
    border-radius: 2px;
    border: none;
    font-family: 'Poppins';
    padding-left: 20px;
    width: calc(100% - 30px);
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
}
#fourth form .inv-group select{
    height: 40px;
    width: calc(100% - 10px);
    font-family: 'Poppins';
    border: none;
    padding-left: 10px;
    box-shadow: 0px 0px 2px 0px rgba(0,0,0,0.1);
}
#fourth form .inv-footer{
    background-color: transparent;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#fourth form .inv-footer button.btn{
    width: 100%;
}