#main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    gap: 20px;
    padding: 20px;
    padding-top: 150px;
    height: 80vh;
    max-height: 700px;
    background-image: radial-gradient(circle at 150px 300px, var(--primary-fade-color), white, white, white);
    background-position: center top;
}
#main h1{
    /* background-color: blue; */
    text-align: left;
    font-size: 4em;
    font-family: 'Bad script';
}
#main h2{
    font-family: 'bad script';
    /* background-color: red; */
}
#main h2 span{
    line-height: 90px;
    padding: 0px;
    font-family: 'poppins';
    font-size: 4em;
    color: var(--primary-color);
    font-weight: bold;
}
#main .t-description{
    font-family: 'poppins';
    max-width: 700px;
    font-size: 1em;
    margin: 20px 0px;
}
.s-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.s-image{
    display: flex;
    align-items: center;
    justify-content: center;
}
.s-img-container{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background-color: pink;
    padding: 20px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    overflow-x: visible;
    overflow-y: visible;
}
.s-img-container img{
    height: 500px;
}