:root{
    --primary-color: rgb(180, 1, 180);
    --primary-fade-color: rgba(223, 0, 223, 0.295);
}
*{
    padding: 0px;
    margin: 0px;
}
body{

}
.container{
    background-color: rgba(230,230,230);
}
.section{
    max-width: 1700px;
}
section h1{
    text-align: center;
    font-family: 'Bad script';
}
#second h1{
    margin: 40px 0px;
}
#third{
    display: flex;
    flex-direction: column;
    align-items: center;
}