:root{
    --primary-color: #4fa0dd;
    --primary-fade-color: #4f9fdd4e;
    --primary-hard-color: rgb(0, 106, 187);
    --primary-dark-color: #317eb8;
    /* --primary-color: rgb(180, 1, 180);
    --primary-fade-color: rgba(223, 0, 223, 0.093);
    --primary-dark-color: rgb(144, 0, 144); */
}
*{
    padding: 0px;
    margin: 0px;
}
*:focus{
    outline: none;
}
body{
    
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.section{
    width: 100%;
    max-width: 1700px;
}
section h1{
    text-align: center;
    font-family: 'Bad script';
    font-size: 4em;
}
section:not(#main) h1{
    color: var(--primary-color);
}
