nav{
    height: 70px;
    background-color: rgba(255, 255, 255, 0.004);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 20px;
    position: fixed;
    top: 0px;
    width: calc(100% - 40px);
}
